# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods (if used)
Pods/

# macOS
.DS_Store
